<div class="center jumbotron">
  <%= image_tag("ibm-dark-small-inverted.png") %>
  <h1>Carpool Buddy</h1>
  <hr>
  <h2>
    Share a ride with a coworker and reduce carbon emissions
    <div class=""></div>
<!--     <%= link_to "Offer Carpool", new_offer_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "View Carpools", locations_path, class: "btn btn-lg btn-info" %> -->
    <br>
    <%= link_to "Check out the benefits", benefits_path, class: "btn btn-lg btn-gray top-margin" %>
  </h2>
</div>



<div class="container">
  <div class="row top-buffer">
    <div class="text-center">
      <div class="home-locations">
        <h2>Select Your Location</h2>
        <!-- <ul class="home-locations"> -->
          <%= render @locations %>
        <!-- </ul> -->
      </div>
    </div>
  </div>

  <div class="row top-buffer feature-panel">
    <div class="col-md-7 hidden-sm hidden-xs">
      <%= image_tag("driving-1-sm.jpg", :class => "img-rounded", :width => "150%") %>
    </div>
    <div class="col-md-5 va-middle">
      <span>
        <h3>Drive to Work?</h3>
        <p class="text-muted">Post your ride quickly and easily, and have coworkers reach out to you through your work email.</p>
        <%= link_to "Find out more", about_path(:anchor => "offer-carpool"), class: "btn btn-block btn-teal" %>
      </span>
    </div>
  </div>
  <div class="row top-buffer feature-panel">
    <div class="col-md-7 hidden-sm hidden-xs">
      <%= image_tag("commuters.jpg", :class => "img-rounded", :width => "150%") %>
    </div>
    <div class="col-md-5 va-middle">
      <span>
        <h3>Need a Ride?</h3>
        <p class="text-muted">Browse through Carpool Offers and find a ride with a trusted coworker.</p>
        <%= link_to "Find out more", about_path(:anchor => "find-carpool"), class: "btn btn-block btn-teal" %>
      </span>
    </div>
  </div>
  <hr>
  <div class="row top-buffer top-margin">
    <div class="col-xs-12 col-md-12 text-center">
      <p class="lead">
        <%= link_to "Smart Commute", "http://smartcommute.ca" %> supports carpooling in the GTA, and IBM is a corporate sponsor.
        </p>
        <%= link_to "Find out more about the Carpool Buddy", about_path, class: "btn btn-warning" %>
    </div>
  </div>

  <div class="row top-buffer">
  </div>
</div>