<li id="offer-<%= offer.id %>">
	<%= link_to gravatar_for(offer.user, size: 50), offer.user %>
	<span class="title">
		<%= link_to offer.title, offer.user %>
	</span>
	<br>
	<span class="user">
		Offered by <%= link_to offer.user.name, offer.user %>
	</span>
	<span class="postal-code"><%= offer.postal_code %></span>
	<span class="brief"><%= offer.brief %></span>
	<span class="timestamp" title="Created <%= time_ago_in_words(offer.created_at) %> ago.">
		Updated <%= time_ago_in_words(offer.updated_at) %> ago.
	</span>
	  <% if current_user?(offer.user) %>
    | <%= link_to "delete", offer, method: :delete,
                                  data: { confirm: "Are you sure you want to delete your 
                                  									offer? This cannot be undone." } %>
		| <%= link_to "edit", edit_offer_path(offer.id) %>
  <% end %>
</li>
