<% if offer.matched %>
<li id="offer-<%= offer.id %>" class="not-available">
<% else %>
<li id="offer-<%= offer.id %>">
<% end %>
  <%= link_to gravatar_for(offer.user, size: 50), offer.user %>
  <span class="title"><%= link_to offer.title, offer.user %> - </span>
  <span class="specific-location">(<%= offer.specific_location %>)</span>
  <% if offer.matched %>
    <h4><span class="label label-danger">This carpool has been filled!</span></h4>
  <% end %>

  <br>
  <span class="user">
    Offered by <%= link_to offer.user.name, offer.user %> (<%= mail_to offer.user.email %>)
  </span>
  <span class="postal-code"><%= offer.postal_code %></span>
  <span class="flexible-hours">
    <% if offer.flexible %>
      <span style="color:#008000;">Flexible work hours!</span>
    <% else %>
      <span style="color:#9F6B3F;">Inflexible work hours</span>
    <% end %>
  </span>
  <% if !current_page?(url_for(:controller => 'locations', :action => 'show')) %>
    <span class="brief"><%= offer.brief %></span>
  <% end %>
  <span class="timestamp" title="Created <%= time_ago_in_words(offer.created_at) %> ago.">
    Updated <%= time_ago_in_words(offer.updated_at) %> ago.
  </span>
  <% if current_user?(offer.user) && current_page?(url_for(:controller => 'locations', :action => 'show')) %>
    <div class="text-right">
      <%= link_to "Edit Offer", edit_offer_path(offer.id), class: "btn btn-sm btn-success" %>
      <%= link_to "Delete Offer", offer, method: :delete, data: { confirm: 
        "Are you sure you want to delete your offer? This cannot be undone." }, class: "btn btn-sm btn-warning" %>
    </div>
  <% elsif current_user?(offer.user) && !current_page?(url_for(:controller => 'locations', :action => 'show')) %>
    <hr>
    <%= link_to "Edit Offer", edit_offer_path(offer.id), class: "btn btn-lg btn-success btn-block" %>
    <%= link_to "Delete Offer", offer, method: :delete, data: { confirm: 
      "Are you sure you want to delete your offer? This cannot be undone." }, class: "btn btn-lg btn-warning btn-block" %>
  <% end %>
</li>
