<footer class="footer">
  <div class="container">
    <small>
      The <%= link_to "Carpool Buddy", root_url %>,
      by the <%= link_to "IBM Future Blue Web Team", contact_path %>
    </small>
    <nav>
      <ul>
        <li><%= link_to "Benefits", benefits_path %></li>
        <li><%= link_to "About",    about_path %></li>
        <li><%= link_to "Contact",  contact_path %></li>
      </ul>
    </nav>
  </div>
</footer>
